In [1]:
#import necessary libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading dataset, csv file
df = pd.read_csv("mvt.csv")

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#return dataframe by calling pandas instance
df

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Latitude,Longitude
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,41.756284,-87.621645
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,41.898788,-87.661303
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,41.969186,-87.767670
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,41.769329,-87.657726
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,41.837568,-87.621761
...,...,...,...,...,...,...,...,...,...,...,...
191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001,41.887566,-87.711323
191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001,41.981924,-87.658878
191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001,41.799024,-87.696538
191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001,41.971437,-87.727056
191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001,41.968327,-87.696388

In [4]:
#using `df.info()` to inform about your dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191641 entries, 0 to 191640
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   191641 non-null  int64
 1   Date                 191641 non-null  object
 2   LocationDescription  191641 non-null  object
 3   Arrest               191641 non-null  bool
 4   Domestic             191641 non-null  bool
 5   Beat                 191641 non-null  int64
 6   District             148589 non-null  object
 7   CommunityArea        167038 non-null  object
 8   Year                 191641 non-null  int64
 9   Latitude             189365 non-null  float64
 10  Longitude            189365 non-null  float64
dtypes: bool(2), float64(2), int64(3), object(4)
memory usage: 13.5+ MB

In [5]:
#df.head(x) return a sub-dataframe contain (int) x first rows in dataframe
df.head(70)

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Latitude,Longitude
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,41.756284,-87.621645
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,41.898788,-87.661303
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,41.969186,-87.767670
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,41.769329,-87.657726
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,41.837568,-87.621761
...,...,...,...,...,...,...,...,...,...,...,...
65,8949871,12/30/12 8:20,STREET,False,False,632,6,44,2012,41.733778,-87.606271
66,8949314,12/30/12 8:20,STREET,False,False,511,5,50,2012,41.719077,-87.597261
67,8949366,12/30/12 8:15,STREET,False,False,2534,25,20,2012,41.915659,-87.736145
68,8950022,12/30/12 8:00,VEHICLE NON-COMMERCIAL,False,False,1511,15,25,2012,41.894064,-87.770261
69,8949844,12/30/12 7:15,STREET,True,False,414,4,46,2012,41.747951,-87.568487

In [6]:
df.shape #return tuple where is shape of dataframe (x,y) x rows, y cols

(191641, 11)

In [7]:
#df.tail(x) return a sub-dataframe contain x-last rows of dataframe
df.tail(2)

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Latitude,Longitude
191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001,41.971437,-87.727056
191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001,41.968327,-87.696388

In [8]:
#using pd.set_option(str-option, value-option) for set value option for str-option, example
pd.set_option('display.min_rows',15)
pd.set_option('display.max_rows', 100)

In [9]:
df

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Latitude,Longitude
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,41.756284,-87.621645
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,41.898788,-87.661303
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,41.969186,-87.767670
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,41.769329,-87.657726
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,41.837568,-87.621761
5,8950793,12/31/12 20:30,STREET,True,False,2521,25,19,2012,41.928561,-87.753998
6,8950760,12/31/12 20:10,STREET,False,False,423,4,48,2012,41.732064,-87.564807
...,...,...,...,...,...,...,...,...,...,...,...
191634,1918610,1/1/01 0:05,RESIDENCE-GARAGE,False,False,2514,NaN,NaN,2001,41.928834,-87.774818
191635,1310755,1/1/01 0:05,RESIDENCE-GARAGE,False,False,2332,NaN,NaN,2001,41.939782,-87.639695
191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001,41.887566,-87.711323
191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001,41.981924,-87.658878
191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001,41.799024,-87.696538
191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001,41.971437,-87.727056
191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001,41.968327,-87.696388

In [13]:
#using parathenses to slicing dataframe into series or more smaller instances
#example
example_first_series = df["Date"] #parameter is string which is name of the columns (series for more specific)
example_first_sub_dataframe_cut_by_slicing = df[["Date","ID"]] #parameter is list of names which are names of the columns (may be 1)
##########

In [14]:
example_first_series

0         12/31/12 23:15
1         12/31/12 22:00
2         12/31/12 22:00
3         12/31/12 22:00
4         12/31/12 21:30
5         12/31/12 20:30
6         12/31/12 20:10
               ...
191634       1/1/01 0:05
191635       1/1/01 0:05
191636       1/1/01 0:05
191637       1/1/01 0:01
191638       1/1/01 0:01
191639       1/1/01 0:01
191640       1/1/01 0:01
Name: Date, Length: 191641, dtype: object

In [15]:
example_first_sub_dataframe_cut_by_slicing

                  Date       ID
0       12/31/12 23:15  8951354
1       12/31/12 22:00  8951141
2       12/31/12 22:00  8952745
3       12/31/12 22:00  8952223
4       12/31/12 21:30  8951608
5       12/31/12 20:30  8950793
6       12/31/12 20:10  8950760
...                ...      ...
191634     1/1/01 0:05  1918610
191635     1/1/01 0:05  1310755
191636     1/1/01 0:05  1310068
191637     1/1/01 0:01  1313404
191638     1/1/01 0:01  1313442
191639     1/1/01 0:01  1563324
191640     1/1/01 0:01  1310463

[191641 rows x 2 columns]